body {
    background-color: #e0e0e0;
}

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
                -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
  }
  
  .neumorphic--pressed {
    box-shadow: inset 13px 13px 17px 0 rgba(0, 0, 0, 0.2),
                inset -13px -13px 17px 0 rgba(255, 255, 255, 0.5);
  }

  .variation2 {
    justify-content: space-around;
    align-items: center;
  }
  
  .variation2 span {
    display: block;
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 3rem;
  }
  
  .variation2 span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0.3rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: currentColor;
  }
  
  .variation2.pressed {
    color: #5ab9ea;
  }

  .add-text {
    outline: none;
    border: none;
    margin-right: auto;
    background-color: #e0e0e0;
    
  }